a{
		cursor:crosshair;
		}
input:focus{
		background-color: blue;
		}
a:active{
			font-size: 32px;
		}

body{
     background-color: #87CEEB;
     margin: 1px;
     padding: 1px;
     background-repeat:repeat-x;
     background-position:right bottom;
    }
