body{
     background-color: #87CEEB;
     margin: 1px;
     padding: 1px;
     background-repeat:repeat-x;
     background-position:right bottom;
    }

	 
#aa{
	float: left;
	}
#aaa{
	 float:right;
    }
#aaaa{
	 text-align:center;
     }
	 
#bb{
	float: left;
	}
#bbb{
	 float:right;
    }
#bbbb{
	 text-align:center;
     }
#ccc{
	 float:right;
    }
#cccc{
	 text-align:center;
     }
	 
#dd{
	float: left;
	}
#ddd{
	 float:right;
    }
#dddd{
	 text-align:center;
     }
	 
#ee{
	float: left;
	}
#eee{
	 float:right;
    }
#eeee{
	 text-align:center;
     }
	 
#ff{
	float: left;
	}
#fff{
	 float:right;
    }
#ffff{
	 text-align:center;
     }
	 
#gggg{
	  text-align:center;
     }

#paga{
	width:300px;
	height:250px;
	float: left;
}

#ganha{
	width: 300px;
	height:250px;
	float: left;
}

#propria{
	width: 300px;
	height:250px;
	float: left;
}